body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mb-10 {
  margin-bottom: 5rem !important;
}

.sticky-chat {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}

#wrapperDiv {
  display: flex;
  flex-direction: row;
}

#mainDiv {
  display: block;

}

#chatDiv {
  width: 40%; 
  background-color: aqua;
  height: 100%;
  position: absolute;
  right: 0;
}