html {
  margin: 0; 
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #191414;
  height: 100%;
  overscroll-behavior-y: none;
}

#root {
  margin: 0;
  height: 100%;
  background-color: #191414;
}



/* Custom bootstrap style */
.mb-10 {
  margin-bottom: 5rem !important;
}



/* Chat */
.sticky-chat {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

svg {
  color: #1db954 !important;
  font-size: 3rem !important;
}

#chatDiv {
  width: 40%; 
  background-color: #ffffff;
  position: fixed;
  right: 0;
  height: 100%;
  z-index: 4;
}

#writeMsgDiv {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #191414;
}



/* Main screen and overlay */
#wrapperDiv {
  display: flex;
  flex-direction: row;
}

#mainDiv {
  display: block;
}

#overlay {
  position: fixed;
  display: none;
  width: 60%;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
  height: 100%;
}



/* Customize table library */
.page-item.active .page-link {
  background-color: #1DB954 !important;
  border-color: #1db954 !important;
  color: #ffffff !important;
}

a {
  color: #1DB954 !important;
}

.react-bs-table-sizePerPage-dropdown {
  float: left;
}

.btn-secondary {
  background-color: #1DB954 !important;
  border-color: #1db954 !important;
}