body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mb-10 {
  margin-bottom: 5rem !important;
}

.sticky-chat {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}

#wrapperDiv {
  display: flex;
  flex-direction: row;
}

#mainDiv {
  display: block;
}

#overlay {
  position: fixed;
  display: none;
  width: 60%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#chatDiv {
  width: 40%; 
  background-color: black;
  height: 100%;
  position: absolute;
  right: 0;
}

#writeMsgDiv {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}