.App {
  text-align: center;
}

.row-centered {
  text-align:center;
}
.col-centered {
  display:inline-block;
  float:none;
  /* reset the text-align */
  text-align:left;
  /* inline-block space fix */
  text-align: center;

}

#title-string {
  text-align: center;
  padding: 25px;
}

#login-button button{
  margin-left: auto;
  margin-right: auto;
}

#upload-form {
  max-width: 600px;
}

#upload-form form{
  padding: 20px;
  /* outline: #333333 solid 1px; */
  border-radius: 20px 20px 20px 20px;
}

#upload-form .file-upload {
  margin-right: auto;
}

label.required:after {
  content:" *";
  color: red;
}

.jumbotron blockquote {
  max-width: 600px;
  margin: auto;
  margin-top: 50px;
}
.jumbotron blockquote footer {
  margin-top: 3em;
}
.hidden-but-still-take-up-space {
  opacity: 0;
}

@media (min-width: 768px){
  nav #display-name {
    margin-left: 50px;
    align-self: center;
  }
}

nav #display-name {
  font-size: .8em;
  margin-right: 10px;
}

img.image-preview{
  width: auto;
  max-height: 600px;
}

.video-preview{
  max-width: 100%;
	min-height: 30%;
	max-height: 600px;
	object-fit: contain;
	vertical-align: middle;
}

/* .panel {
  max-height: 768px;
} */

.edit-controls {
  float: left;
}

.edit-controls :first-child {
  margin-bottom: 6px;
}

.panel-header {
  margin: auto;
  border-bottom: 1px solid rgba(0,0,0,.2);
}

.panel-header p.uploader-name::before {
  content: "Uploader: "
}

.panel-display{
  padding-top: 10px;
  padding-bottom: 10px;
}

.panel-footer {
  padding-top: 10px;
  border-top: 1px solid rgba(0,0,0,.2);
}

.panel-footer .btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.panel-footer .accordion svg{
  margin-right: 5px;
}

#feed {
  margin-left: 20px;
  margin-right: 20px;
}

#feed .MuiBox-root {
  padding: 20px;
  border-color: #aaaaaa;
  margin-bottom: 40px;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

svg.delete-btn{
  color: red;
  cursor: pointer;
}

.title-input {
  font-family: "Segoe UI", "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
  font-size: 1.640625rem;
  /* margin-bottom: 0.5rem; */
  font-weight: 300;
  /* line-height: 1.2; */
  margin-top: 0;
  display: block;
  /* margin-block-start: 1em;
  margin-block-end: 1em;*/
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}


.draw-canvas {
  margin-left: auto;
  margin-right: auto;
  display: inline-block !important;
}

div.text {
  position: absolute;
  left: 0px;
  top: 65px;
}

div.form-group {
  position: absolute;
  left: -70px;
  top: 140px;
}

div.name {
  position: absolute;
  left: 73px;
  top: -100px;
}

div.title {
  position: absolute;
  left: 73px;
  top: -10px;
}

div.custom-control {
  position: absolute;
  left: 123px;
  top: 220px;
}

.form-control {
  width: 280% !important;
}

.form-label{
  width: 200% !important;
}

div.saveTitle{
  position: absolute;
  left: -100px;
  top: 140px;
}
.draw-view {
  width: 400px;
  height: 400px;
  outline: black;
  margin-left: auto;
  margin-right: auto;
}

.draw-view-container {
  margin-bottom: 100px;
}

.hue-picker {
  margin-bottom: 10px;
}