<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DevelUp - About</title>
    <meta charset="utf-8" />
    <link
      href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="css/about.css" />
    <script src="about.js" defer></script>
  </head>

  <body>
    <div style="text-align:center;">
      <div class="header">
        <br />
        <button class="menubutton" id="homeButton">
          <i class="fa fa-user" style="font-size:25px;"></i>
          &nbsp;&nbsp; My Dashboard
        </button>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button class="menubutton" id="chatButton">
          <i class="fa fa-comments" style="font-size:25px;"></i>
          &nbsp;&nbsp; Chat Board
        </button>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button class="menubutton" id="friendsButton">
          <i class="fa fa-users" style="font-size:25px;"></i>
          &nbsp;&nbsp; Other Users
        </button>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button class="menubutton" id="logoutButton">
          <i class="fa fa-sign-out" style="font-size:25px;"></i>
          &nbsp;&nbsp; Logout
        </button>
      </div>
      <h1>
        DevelUP
        <i
          class="fa fa-chevron-circle-up"
          style="font-size:100px;color:#9DFF12;"
        ></i>
      </h1>

      <h2>
        <i
          class="fa fa-chevron-circle-up"
          style="font-size:60px;color:black;"
        ></i>
        &nbsp; About DevelUP
      </h2>
      <br /><br />
      <div class="aboutbox">
        <br />
        <i
          class="fa fa-chevron-circle-up"
          style="font-size:30px;color:black;"
        ></i
        >&nbsp;&nbsp;&nbsp; DevelUP is a web-based application created by Nicole
        Conill and Matthew Tolbert for CS 4241: Webware. <br /><br />
        <i class="fa fa-github" style="font-size:30px;color:black;"></i
        >&nbsp;&nbsp;&nbsp; Users must log in with GitHub authorization.
        <br /><br />
        <i class="fa fa-pencil-square-o" style="font-size:30px;color:black;"></i
        >&nbsp;&nbsp;&nbsp; Users can record, edit and delete their workouts.
        <br /><br />
        <i class="fa fa-comments" style="font-size:30px;color:black;"></i
        >&nbsp;&nbsp;&nbsp; In the chat board, users may communicate with another active user. <br /><br />
        <i class="fa fa-users" style="font-size:30px;color:black;"></i
        >&nbsp;&nbsp;&nbsp; In the users board, users may view other user's workouts. <br /><br />
      </div>
    </div>
  </body>
</html>
