<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link href="css/style.css" rel="stylesheet" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge;" />
    <script src="/chat.js" defer></script>
    <link rel="stylesheet" href="/style.css">


    <link href="https://unpkg.com/cirrus-ui" type="text/css" rel="stylesheet" />

    <link
      href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
      integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
      crossorigin="anonymous"
    />

    <script
      src="https://code.jquery.com/jquery-2.2.4.min.js"
      integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous"
    ></script>

    <title>Grocery Chat</title>
    <meta charset="utf-8" />
    <link
      href="https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap"
      rel="stylesheet"
    />
    <title>Chat With Your Grocery Pals</title>
  </head>
  <body>
    <h1>Groceryify Chat</h1>
    <p>Chat among teammates in your group</p>
    <div id="inputname">
      <p>
        Input your name.
      </p>
      <label for="entername">Name</label>
      <input id="entername" type="text" />
      <p>
        For example: Charles
      </p>
      <button id="savename">Enter Name</button> <br />
    </div>

    <div id="sendmsg" style="display:none">
      <p>
        Input your message for the group.
      </p>
      <label for="chatbox">Your Message</label>
      <input id="chatbox" type="text" />
      <p>
        For example: "Can we buy M&Ms?"
      </p>
      <button id="send" type="send" >Send</button>
    </div>
  </body>
</html>
