<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Full</title>
    <link rel="stylesheet" href="/style.css">
    <!-- core style only -->
    <link href="https://unpkg.com/nes.css/css/nes-core.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
</head>
<body>
<div class="content-container">
    <img
            alt="Space invaders"
            width="580"
            height="250"
            src="/assets/pac_people.png"
            style="align-self: center"
    />

    <div class="game-instructions">
        <p>
            SORRY, YOU ARE LATE, THIS GAME ROOM IS ALREADY FULL! <br/><br/>
        </p>
    </div>

    <img
            alt="Invader avatars"
            width="40px"
            height="40px"
            src="/assets/avatarC.png"
    />

</div>

</body>
</html>
