<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
    <!-- core style only -->
    <link href="https://unpkg.com/nes.css/css/nes-core.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
</head>
<body>
<div class="content-container">

    <img
            alt="Space invaders"
            width="580"
            height="250"
            src="/assets/pac_people.png"
            style="align-self: center"
    />

    <div class="play-container">
        <button id="play-button" onclick="joinGame()">Play!</button>
    </div>

    <div class="leaderboard">
        <div class="leaders-title">TOP 10 RECENT PLAYERS</div>
            <ol id="leaders-container"/></div>

<!--    <div class="look-settings">-->
<!--        <div class="avatar-settings">-->
<!--            Choose your avatar-->
<!--            <button>A</button>-->
<!--            <button>B</button>-->
<!--            <button>C</button>-->
<!--        </div>-->
<!--        <div class="color-settings">-->
<!--            Choose avatar color-->
<!--            <button>Purple</button>-->
<!--            <button>Blue</button>-->
<!--            <button>Yellow</button>-->
<!--        </div>-->
<!--    </div>-->

</div>

<script src="/home.js"></script>
</body>
</html>
