<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Connect 4</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />
    <script src="/script.js" defer></script>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body onload="loadLoginPg()" class="has-text-centered">
    <div class="hero is-fullheight is-primary">
      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="column is-8 is-offset-2">
            <h3 class="title has-text-white">Connect 4</h3>
            <hr class="login-hr" />
            <p class="subtitle has-text-white">
              Welcome to Connect 4! Enter a username and we'll match you with a random player.
            </p>
            <div class="box">
              <div class="title has-text-grey is-5">
                Please enter a username.
              </div>
              <form id="loginForm" onsubmit="submit-username.disabled = true">
                <div class="field">
                  <div class="control has-text-left">
                    <input
                      id="username"
                      class="input is-large"
                      type="username"
                      placeholder="username"
                      required
                      autofocus=""
                    />
                  </div>
                </div>
                <button
                  class="button is-block is-danger is-large is-fullwidth"
                  type="submit"
                  id="submit-username"
                >
                  Find a Game
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
