<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/css/login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
</head>
<body>
    <h1>Login</h1>
    
    <p id="errormsg">

    </p>
    
    <form action="/login" method="POST">
        <div class="center">
            <label for="name" >Username: </label>
            <input type="text" id="name" name="name" placeholder="username here" required>
        </div>
        <div class="center">
            <label for="password" >Password: </label>
            <input type="password" id="password" name="password" placeholder="password here" required>
        </div>
        <div class= "center">
        <button type="submit">Login</button>
        </div>
    </form>
    <a class="center" href="/register">Click here to register</a>
</body>
</html>