.selected {
    border: solid;
    background-color: antiquewhite;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 100px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 16px Helvetica, Arial;
    background: url(/img/ds.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*
#left {
    background: url(/img/main.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/

form {
    background: #000;
    padding-top: 20px;
    padding-bottom: 3px;
    position: fixed;
    bottom: 0;
    width: 50%;
}

    form input {
        border: 0;
        padding: 10px;
        width: 90%;
        margin-right: 0.5%;
        height: 4vh;
        box-sizing: border-box;
    }

    form button {
        width: 9%;
        background: rgb(130, 224, 255);
        border: none;
        padding: 10px;
        height: 4vh;
    }

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: auto;
    max-height: 95.5vh;
    overflow-y: auto;
}

    #messages li {
        padding: 5px 10px;
    }

        #messages li:nth-child(odd) {
            background: #fff;
        }
/*
#background {
    width: 50%;
    height: 350px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('/img/main.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to (rbga(0,0,0,0)));
    opacity: 0.8;
    z-index: -1;
}
    */

.avatar {
    width: 150px;
    height: 150px;
    margin: 20px;
    background-image: url('/img/avatar.png');
    background-position: center center;
    background-size: 150px;
}

    .avatar:hover {
        background-image: url('/img/avatar-alt.png');
    }


#navbg {
    background: url(../img/nav.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    height: 100%;
    z-index: -1;
}

#music{
    display: none;
}

.color {
    border: none;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    color: black;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 2.5px;
    padding-bottom: 1px;
}

.brush {
    border: 2px solid red;
    display: inline-block;
    font-size: 15px;
    text-align: center;
    color: black;
    padding-left: 15px;
    padding-right: 15px;
    padding-top:7px;
    padding-bottom: 3px;
}

.buttonbar1 {
    margin-left: 40%;
}

.buttonbar2{
    margin-left: 43.5%;
}

#red {
    background-color: red;
}

#blue {
    background-color: dodgerblue;
}

#yellow {
    background-color: yellow;
}

#green {
    background-color: forestgreen;
}

#orange {
    background-color: darkorange;
}

#violet {
    background-color: mediumvioletred;
}

#username {
    border: none;
    border-radius: 3px;
    background-color: lightcoral;
    position: absolute;
    left: 6%;
    bottom: 2.2%;
}

#logoutButton {
    border: 2px solid red;
    border-radius: 4px;
    position: absolute;
    left: 15%;
    bottom: 1%;
    background-color: palevioletred;
    padding: 12px 20px;
    justify-content: center;
    font-size: 12px;
    line-height: 3px;
}

    #logoutButton:hover {
        background-color: orangered;
        border: thin;
    }

label {
    position: absolute;
    left: 1%;
    bottom: 1.5%;
    color:darkturquoise;
    font-size: 20px;
}

#send {
    margin-left: 55%;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    display: flex;
}

    #send:hover{
        background-color: antiquewhite;
    }

#clear {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 54.5%;
    justify-content: center;
    display: flex;
}

    #clear:hover {
        background-color: antiquewhite;
    }

h3 {
    padding-top: 20px;
    padding-bottom: 5px;
    padding-left: 18%;
    justify-content: center;
    display: flex;
    color: darkseagreen;
    font-style: italic;
}

h1 {
    padding-left: 20%;
    justify-content: center;
    display: flex;
    color: mediumvioletred  ;
}

p {
    padding-top: 20px;
    padding-bottom: 5px;
    padding-left: 20%;
    justify-content: center;
    display: flex;
    font-size: 16px;
    color: darkturquoise;
}

canvas {
    padding-top: 10px;
    justify-content: center;
    display: flex;
    margin-left: 30%;
    background-color: white;
}

#backButton {
    border: 2px solid blue;
    border-radius: 4px;
    position: absolute;
    left: 43%;
    bottom: 1%;
    background-color: dodgerblue;
    padding: 12px 20px;
    justify-content: center;
    font-size: 12px;
    line-height: 3px;
}

#backButton:hover{
    background-color: mediumblue;
}
