.selected {
    border: solid;
    background-color: antiquewhite;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 100px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 16px Helvetica, Arial;
}

form {
    background: #000;
    padding-top: 20px;
    padding-bottom: 3px;
    position: fixed;
    bottom: 0;
    width: 50%;
}

    form input {
        border: 0;
        padding: 10px;
        width: 90%;
        margin-right: 0.5%;
        height: 4vh;
        box-sizing: border-box;
    }

    form button {
        width: 9%;
        background: rgb(130, 224, 255);
        border: none;
        padding: 10px;
        height: 4vh;
    }

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: auto;
    max-height: 95.5vh;
    overflow-y: auto;
}

    #messages li {
        padding: 5px 10px;
    }

        #messages li:nth-child(odd) {
            background: #eee;
        }
/*
#background {
    width: 50%;
    height: 350px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('/img/main.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to (rbga(0,0,0,0)));
    opacity: 0.8;
    z-index: -1;
}
    */

.avatar {
    width: 150px;
    height: 150px;
    margin: 20px;
    background-image: url('/img/avatar.png');
    background-position: center center;
    background-size: 150px;
}

    .avatar:hover {
        background-image: url('/img/avatar-alt.png');
    }


#navbg {
    background: url(../img/nav.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    height: 100%;
    z-index: -1;
}

.color {
    border: none;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    color: black;
}

.brush {
    border: thin;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    color: black;
}

.buttonbar {
    margin-left: 50%;
}

#red {
    background-color: red;
}

#blue {
    background-color: dodgerblue;
}

#yellow {
    background-color: yellow;
}

#green {
    background-color: forestgreen;
}

#orange {
    background-color: darkorange;
}

#violet {
    background-color: mediumvioletred;
}

#username {
    border: 2px solid red;
    border-radius: 3px;
    background-color: antiquewhite;
    position: absolute;
    left: 5%;
    bottom: 3%;
}

#logoutButton {
    position: absolute;
    left: 15%;
    bottom: 2%;
    background-color: palevioletred;
    border: initial;
    color: navajowhite;
    padding: 15px 20px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
}

    #logoutButton:hover {
        background-color: orangered;
        border: thin;
    }

label {
    position: absolute;
    left: 1%;
    bottom: 2.5%;
}

#send {
    margin-left: 530px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    display: flex;
}

#clear {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 530px;
    justify-content: center;
    display: flex;
}

h3 {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 160px;
    justify-content: center;
    display: flex;
}

h1 {
    padding-left: 180px;
    justify-content: center;
    display: flex;
}

p {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 180px;
    justify-content: center;
    display: flex;
}

#centralCanvas {
    justify-content: center;
    display: flex;
    margin-left: 250px;
}

a {
    color: white;
    text-decoration: none;
    text-align: center;
    background-color: hotpink;
    padding: 14px;
    display: inline-block;
    position: relative;
    top: 600px;
    left: 800px;
}

    a:hover, a:active {
        background-color: orangered;
    }
