/*Style your own assignment! This is fun! */
/* #background{
  background-image: url('../resources/background.jpg');
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  -webkit-mask-image:-webkit-gradient(linear, left top, left bottom,
      from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;

  width: 100%;
  height: 100vh;
} */


body{
  background-image: url('../resources/background.jpg');
/*   mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  -webkit-mask-image:-webkit-gradient(linear, left top, left bottom,
      from(rgba(0,0,0,1)), to(rgba(0,0,0,0))); */
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;

  width: 100%;
  height: 100vh;
  
} 


.info-container{
   display:flex;
   justify-content: center;
   align-items: center;
   position: relative;
   margin-top:-800px;
 }

#information{
  font-family: 'Crimson Text', serif;
  color: #363b3f;

}

#intro{
  text-align: center;
}

.navbarbody{
  background-color: rgba(104, 104, 104, 0.8);
  box-shadow: 0 0 5px rgba(57, 70, 78, 0.6);
  z-index: 200;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 80px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

#logo{
  font-family:Lobster;
  font-size: 70px;
  text-align: center;
  color: red;

}