/* #background{
  background-image: url('../resources/videobackground.jpg');
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  -webkit-mask-image:-webkit-gradient(linear, left top, left bottom,
      from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  z-index: -1;
  width: 100%;
  height: 100vh;
} */

.bg{
  background-image: url('../resources/videobackground.jpg');
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  -webkit-mask-image:-webkit-gradient(linear, left top, left bottom,
      from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  z-index: -1;
  width: 100%;
  height: 100vh;

}

.navbarbody{
  background-color: rgba(104, 104, 104, 0.8);
  box-shadow: 0 0 5px rgba(57, 70, 78, 0.6);
  z-index: 200;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.movie span{
  position: absolute;
  white-space: nowrap;
  /* left: 100px; */
  /* top: 50px; */
  /* font-size: 20px; */
  /* color: red; */
}

.danmu{
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  width: 500px;
  height: 25px;
  border-radius: 5px;
  /* margin-top:-300px; */
}
.danmu .input{
  margin: 0;
  padding: 0;
  outline: none;
  border: 0;
  width: 420px;
  height: 25px;
  text-indent: 8px;
}
#btn{
  text-align: center;
  position: absolute;
  letter-spacing: 1px;
  top: 0;
  right: 0;
  height: 25px;
  width: 80px;
  font-size: 14px;
  line-height: 25px;
  color: white;
  background: #000000;
  cursor: pointer;
}
.al{
  position: absolute;
  bottom: 80px;
  margin-left: -90px;
  left: 50%;
  width: 180px;
  height: 24px;
  color: white;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 1px;
  display: none;
  border-radius: 8px;
  background: orangered;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

/* .main{
  margin-top:-400px;
} */
