#message-container {
  margin-top: 40px;
  /*width: 80%;*/
  max-width: 1000px;
}

#message-container div {
  background-color: #CCC;
  padding: 5px;
}

#message-container div:nth-child(2n) {
  background-color: #FFF;
}

#send-container {

 margin-top: 10px;
 bottom: 0;
 background-color: white;
 max-width: 1000px;
 /*width: 80%;*/
 display: flex;
}

#message-input {
 flex-grow: 1;
}
