body {
    background-color: black;
    color: white;
    font-family: "Press Start 2P";
    width: 100%;
    height: 100%;
}

.content-container {
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
}

/** LOGIN **/

.form-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 120px auto;
    align-items: center;
    justify-content: center;
}

#username, #password {
    width: 100%;
}

#log-in, #sign-up {
    width: 100%;
    margin-top: 10px;
    background-color: #4a4a4a;
    color: white;
}

#error-message {
    color: deeppink;
}

#error-message {
    height: 50px;
}

/** HOME **/

.leaders-title {
    font-size: 30px;
    color: darkblue;
}

.leaderboard {
    margin: auto;
}

#leaders-container {
    overflow-y: scroll;
    height:300px;
    font-size: 20px;
    color: darkblue;
    margin-left: 15px;
}

.play-container {
    margin: auto;
}

#play-button {
    width: 250px;
    height: 50px;
    background-color: white;
}

.look-settings {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.avatar-settings {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.color-settings {
    display: flex;
    flex-direction: column;
    width: 45%;
}

/** GAME **/
.game-div {
    margin: auto;
}
