h1 {
    font-style: italic;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    border-bottom: 3px solid black;
}

p{
  text-align: center;
}

.container {
  display: grid;
  border : 2px solid black;
  width: 500px;
  height: 500px;
  padding: 7px;
  border-radius: 10px;
  margin: auto;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
}

.item{
  padding: 0px;
  margin: 0px;
  background: none;
  font-size: 10px;
  border: 1px solid black;
  font-weight: bold;
}